services:
  mariadb:
    container_name: nuvix-db
    expose:
      - "3306:3306"
    networks:
      - nuvix

  valkey:
    container_name: valkey
    expose:
      - "6379:6379"
    networks:
      - nuvix
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  nuvix-api:
    container_name: nuvix-api
    command: []
    depends_on:
      mariadb:
        condition: service_healthy # Waits for mariadb to be healthy
      valkey:
        condition: service_healthy # Waits for valkey to be healthy
    networks:
      - nuvix
      - caddy
    restart: unless-stopped

  console-api:
    container_name: console-api
    command: []
    depends_on:
      mariadb:
        condition: service_healthy 
      valkey:
        condition: service_healthy 
    networks:
      - nuvix
      - caddy
    restart: unless-stopped